<div class="oauth2-sign-in">
  <% if Setting.plugin_redmine_laravel_passport_sign_in['passport_enabled'] == '1' %>
    <%= link_to('laravel_passport_sign_in/passport', :class =>"oauth2-sign-in-btn", title: l(:title_oauth2_sign_in, provider: l(:label_passport))) do %>
      <%= l(:label_oauth2_sign_in) %>    
    <% end %>
  <% end %>
</div>
<style type="text/css">
  .oauth2-sign-in {
    margin: -2em auto 2em auto;
    padding: 20px;
    width: 300px;
  }
 .oauth2-sign-in-btn {
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 0.5em;
    background: #00bcd4;
    width: 100%;
    text-align: center;
  }
  .oauth2-sign-in-btn:hover {
    background: #1ec7bb;
  }
  a.oauth2-sign-in-btn {
    color: #fff;
  }
  a.oauth2-sign-in-btn:hover {
    text-decoration: none;
  }
</style>
